
.section-profile{
  position: relative;
  .header{
    .bg-img{
        img{
          width: 100%;
          height: 400px;
        }
    }
    .personal-img {

      position: absolute;
      top: 304px;

      left: 83px;

      img{
        border-radius: 50%;
        width: 75%;
        border: 5px solid white;
      }

    }
  }
  .info-user{
    display: flex;
    position: relative;
    /* text-align: center; */
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    @media(max-width: 575px){
      padding-top: 120px;
    }
    p{
      color: #242424;
      cursor: pointer;
      font-size: 30px;
      font-weight: 600;
      /* padding: 12px; */
      margin: 20px;
      padding: 0;
    }
  }
  .css-heg063-MuiTabs-flexContainer{
    display: flex;
    justify-content: center;
  }

  .main-profile {
    display: flex;
    position: relative;
  }
}